
.homepageBG {
  display:flex;
  align-items: center;
  justify-content: center;
  background-image:
    url('./dist/sewingbackground.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.homepageButtons {
  display:flex;
  justify-content:center;
  align-items: center;
  margin: 50px;
}

.signupButton {
  width: 200px;
  margin: 10px;
}
.loginButton {
  width: 200px;
  margin: 10px;
}

.homepageDescription {
  margin: 10%;
  text-align: center;
  background-color: #242424;
  color: aliceblue;
}

.homepageTitle {
  text-align: center;
  color: aliceblue;
}